<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <title>
    Chitter
  </title>
</head>
<body>
  <%= partial :header %>
  <section id="main-content">
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </section>
  <%= partial :footer %>
</body>
</html>
